.trophies {
  display: flex;
  flex-direction: column-reverse;
}

.trophy {
  width: 32%;
  margin-left: 33%;
  margin-right: 33%;
  margin-bottom: 30px;
}

.trophy:nth-child(3n+2) {
    padding: 10px 40px 80px;
}